# Authentication
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
NEXTAUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Database
DATABASE_URL="postgresql://sim:sim@localhost:5432/sim"

# Initial Admin User (Required to seed the database)
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_NAME=

# Initial Semester (Required to seed the database)
INITIAL_SEMESTER_NAME=
INITIAL_SEMESTER_START=
INITIAL_SEMESTER_END=
